# Virtual environment
ml_env/

# Python cache
__pycache__/
*.py[cod]

# Artifacts and models
artifacts/
*.pkl
*.h5
*.keras

# Data
data/

# Logs
logs/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db